{% extends 'base.html'%}
{% load static %}
{% block content %}
 
    {% include 'account/menu.html' %}
        
    <section class="best-receipe-area">
        
        <div class="container">
                <div class="row"> 
                    <div class="row d-flex justify-content-left">
                        {% if receitas %}
                        {% for receita in receitas %}
                        
                            <div class="card mr-sm-2" style="width: 18rem;">
                                <img src="{{ receita.file_name.url }}" style="width: auto; height:200px;" class="fa fa-align-center">
                                <div class="card-body">
                                    <h5 class="card-title">{{ receita.nome_receita }}</h5>
                                    <a href="{% url 'receita' receita.id %}" class="btn btn-outline-primary">Como fazer</a>
                                </div>
                            </div>
                        
                        {% endfor %}
                        {% else %}
                            <h4>Ainda não existe nenhuma receita cadastrada.</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    
{% endblock%}